* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column; }
  
  body {
    background-color: #a7ada8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url(https://i.imgur.com/GBGrN5b.jpeg) no-repeat scroll left center;
    background-position: 50% 50%;
    background-size: 1920px 1200px;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center; }
  
  h1 {
    display: flex;
    height: 60px;
    padding: 20px; }
  
  h4 {
    display: flex; }
  
  #inputdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #302f2f solid 3px; }
  
  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  
  #displayBox {
    display: flex;
    flex-direction: column;
    background: #7e7a7d;
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 4px solid #302f2f;
    border-radius: 10px; }
  
  #image {
    display: flex;
    justify-content: center;
    align-items: center; }
  
  img {
    display: flex;
    width: auto;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 25px;
    border: 4px solid #302f2f;
    border-radius: 10px; }
  
  #questionBox {
    background: #d1c2bb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border: 4px solid #302f2f;
    border-radius: 10px; }
  
  #answerBox {
    background: #d1dbd3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border: 4px solid #302f2f;
    border-radius: 10px; }
  
  #buttonBox {
    background: #c3c5c0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border: 4px solid #302f2f;
    border-radius: 10px; }
  
  button {
    margin: 8px;
    padding: 3px; }
  
  li {
    margin: 8px;
    padding: 5px;
    list-style-type: none; }
  
  input[type="radio"] {
    margin-right: 7px; }
  
  body {
    margin: 0;
    background-color: #bada55; }
  